version: '3.3'
services:
  post_db:
    image: mongo:${MONGO_V}
    volumes:
      - post_db:/data/db
    networks:
      back_net:
        aliases:
        - post_db
        - comment_db
  ui:
    image: ${USER_NAME}/ui:${UI_V}
    ports:
      - ${PORT_NUM}:9292/tcp
    networks:
      - front_net
  post:
    image: ${USER_NAME}/post:${POST_V}
    networks:
      - back_net
      - front_net
  comment:
    image: ${USER_NAME}/comment:${COMMENT_V}
    networks:
      - back_net
      - front_net

networks:
  back_net:
    driver: bridge
  front_net:
    driver: bridge

volumes:
  post_db:
